[Desktop Entry]
Version=1.0
Type=Application
Name=Linux System Monitor
Comment=Monitor elegante del sistema con CPU, RAM, Red, Discos y Temperatura
Exec=/home/efracode/Documentos/flutter linux/dashboard_linux_cpu/build/linux/x64/release/bundle/dashboard_linux_cpu
Icon=/home/efracode/Documentos/flutter linux/dashboard_linux_cpu/assets/images/app_icon.png
Terminal=false
Categories=System;Monitor;Utility;
Keywords=system;monitor;cpu;ram;network;disk;temperature;
StartupNotify=true
